/*
///////////////////////////////RESET\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*
//////////////////////TYPOGRAPHY\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: #2c2e35;
}

a {
  text-decoration: none;
  transition: 300ms;
}

a:hover {
  color: #ff301a;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Trebuchet MS", sans-serif;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Trebuchet MS", sans-serif;
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
  font-family: "Trebuchet MS", sans-serif;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1rem;
  font-weight: bold;
  font-family: "Trebuchet MS", sans-serif;
}

/*gradient text*/
.gradient-text {
  background-image: linear-gradient(90deg, red, yellow);
  background-clip: text;
  color: transparent;
}

/*
//////////////////////////////BODY\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background: white;
  color: #2c2e35;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 auto;
}

/*
///////////////////////////CONTAINER\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.container {
  width: 90%;
  max-width: 1200px;
  padding: 0;
  margin: 0 auto;
  position: relative;
  -webkit-box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

@media (max-width: 500px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
}
main {
  padding: 1rem;
}

/*
///////////////////////////HEADER\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
header {
  padding: 0 10px;
}

/*
///////////////////////////NAVIGATION\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
nav {
  z-index: 200;
}

.menu,
.submenu {
  list-style-type: none;
}

.item {
  padding: 10px;
}

.item:not(.button) a:hover,
.item a:hover::after {
  color: #ff9029;
}

/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.menu li a {
  display: block;
  padding: 15px 5px;
  color: #2c2e35;
  font-weight: bold;
  text-decoration: none;
}

.menu li.subitem a {
  padding: 15px;
  font-weight: normal;
}

.toggle {
  order: 1;
  font-size: 20px;
}

.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
  transition: visibility 0s, opacity 0.5s linear;
}

.active .item {
  display: block;
  opacity: 1;
  animation: anim 0.5s ease-in-out;
}

/* Submenu up from mobile screens */
.section {
  background-color: #ff9029;
}

.submenu {
  transition: visibility 0s, opacity 0.5s linear;
  min-width: 200px;
}

.submenu-active .submenu {
  display: block;
  opacity: 1;
  animation: anim 0.5s ease-in-out;
}

@keyframes anim {
  0% {
    display: none;
    opacity: 0;
  }
  100% {
    display: block;
    transition: opacity 0.5s ease-in-out;
  }
}
.has-submenu i {
  font-size: 12px;
}

/* Desktop menu */
@media all and (min-width: 1160px) {
  .section {
    background-color: transparent;
  }

  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
  }

  .logo {
    order: 0;
    padding-left: 10px;
  }

  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }

  .submenu {
    display: none;
    background: #ff9029;
  }

  .submenu-active .submenu a:hover {
    color: white;
  }

  .submenu-active .submenu.about {
    display: block;
    position: absolute;
    left: -60px;
    top: 70px;
  }

  .submenu-active .submenu.children {
    display: block;
    position: absolute;
    left: 0;
    top: 70px;
  }

  .submenu-active .submenu.families {
    display: block;
    position: absolute;
    left: -60px;
    top: 70px;
  }

  .submenu-active .submenu.schools {
    display: block;
    position: absolute;
    left: -20px;
    top: 70px;
  }

  .submenu-active .submenu.learning {
    display: block;
    position: absolute;
    left: -40px;
    top: 70px;
  }

  .toggle {
    display: none;
  }
}
/*
///////////////////////////FOOTER\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
footer {
  color: white;
  background-color: #ffcd05;
  min-height: 100px;
}

.about .inner-container {
  background-image: url(../images/about-strapline.svg);
  background-repeat: no-repeat;
  background-size: 40%;
  background-position-x: 90%;
  background-position-y: top;
}
.about main {
  padding-top: 15rem;
  display: grid;
  grid-template-columns: 2fr 1.25fr 1fr;
  background-image: url(../images/wave.svg);
  background-repeat: no-repeat;
  background-position-y: bottom;
}

.ribbon {
  position: absolute;
}

/*circle images*/
.about-circle-01 {
  margin-left: -7%;
  align-self: end;
}

.about-circle-02 {
  margin-left: -30%;
  align-self: end;
}

/*///////////////////Buttons\\\\\\\\\\\\\\\\\\\\\*/
/*icons*/
.icons {
  display: flex;
  flex-direction: column;
  align-self: end;
  align-items: center;
  z-index: 10;
  justify-content: space-between;
}

.icons-item {
  padding: 10px 0;
}

.fa-facebook {
  color: #4372b8;
}

.fa-instagram {
  color: #da1b52;
}

.fa-twitter {
  color: #5ea9dd;
}

/*///////////////Ribbons\\\\\\\\\\\\\\\\\*/
.ribbon {
  margin-left: -30px;
  min-width: 120%;
}

/*
///////////////////////////CIRCLE IMAGES\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.circles {
  border-radius: 50%;
}

/*# sourceMappingURL=main.css.map */
