.about {
    .container {
        // background: url(/images/ribbons/about.svg) -20px 0px no-repeat;
        // background-size: 110%;
    }
    .inner-container {
        background-image: url(images/about-strapline.svg);
        background-repeat: no-repeat;
        background-size: 40%;
        background-position-x: 90%;
        background-position-y: top;
    }
    main {
        padding-top: 15rem;
        display: grid;
        grid-template-columns: 2fr 1.25fr 1fr;
        background-image: url(images/wave.svg);
        background-repeat: no-repeat;
        background-position-y: bottom;
    }
}
.ribbon {
    position: absolute;
}
/*circle images*/
.about-circle-01 {
    // width: 50%;
    margin-left: -7%;
    align-self: end;
}
.about-circle-02 {
    margin-left: -30%;
    align-self: end;
}
