@use '../abstracts' as *;
/*
///////////////////////////FOOTER\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
footer {
  background-color: $yellow;
}
.wave {
  display: none;
}
.footer-content {
  background-color: $yellow;
  min-height: 100px;
  margin-top: -2px;
}
// @media only screen and (max-width: 1200px) {
//   footer {
//     background-color: transparent;
//   }
//   // .wave {
//   //   display: block;
//   // }
// }
