@use '../abstracts' as *;
/*
///////////////////////////NAVIGATION\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
nav {
  z-index: 200;
}
.menu,
.submenu {
  list-style-type: none;
}

.item {
  padding: 10px;
}
.item:not(.button) a:hover,
.item a:hover::after {
  color: $orange;
}
/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.menu li a {
  display: block;
  padding: 15px 5px;
  color: $black;
  font-weight: bold;
  text-decoration: none;
}
.menu li.subitem a {
  padding: 15px;
  font-weight: normal;
}
.toggle {
  order: 1;
  font-size: 20px;
}

.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
  transition: visibility 0s, opacity 0.5s linear;
}
.active .item {
  display: block;
  opacity: 1;
  animation: anim 0.5s ease-in-out;
}

/* Submenu up from mobile screens */
.section {
  background-color: $orange;
}
.submenu {
  // display: none;
  // opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;

  min-width: 200px;
}
.submenu-active .submenu {
  display: block;
  opacity: 1;
  animation: anim 0.5s ease-in-out;
}
@keyframes anim {
  0% {
    display: none;
    opacity: 0;
  }
  100% {
    display: block;
    transition: opacity 0.5s ease-in-out;
  }
}
.has-submenu i {
  font-size: 12px;
}
// .has-submenu > a::after {
//   font-family: "Font Awesome 5 Free";
//   font-size: 12px;
//   line-height: 16px;
//   font-weight: 900;
//   content: "\f078";
//   color: $black;
//   padding-left: 5px;
// }
.subitem a {
}

/* Desktop menu */
@media all and (min-width: 1160px) {
  .section {
    background-color: transparent;
  }
  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
  }
  .logo {
    order: 0;
    padding-left: 10px;
  }
  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }
  .submenu {
    display: none;
    background: $orange;
  }
  // .submenu-active .submenu {
  //   display: block;
  //   position: absolute;
  //   left: 0;
  //   top: 68px;
  // }
  .submenu-active .submenu a:hover {
    color: $white;
  }
  .submenu-active .submenu.about {
    display: block;
    position: absolute;
    left: -60px;
    top: 70px;
  }
  .submenu-active .submenu.children {
    display: block;
    position: absolute;
    left: 0;
    top: 70px;
  }
  .submenu-active .submenu.families {
    display: block;
    position: absolute;
    left: -60px;
    top: 70px;
  }
  .submenu-active .submenu.schools {
    display: block;
    position: absolute;
    left: -20px;
    top: 70px;
  }
  .submenu-active .submenu.learning {
    display: block;
    position: absolute;
    left: -40px;
    top: 70px;
  }
  .toggle {
    display: none;
  }
}
